.form-recherche{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label-titre{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 24px;
}

p{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}